.sidebar{
    position: fixed;
    top: 55px;
    bottom: 0;
    left: 0;
    width: 72px;
    background-color: white;
    border-bottom-width: 2px;
    border-color: black;
}

.sidebar-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-bottom: 25px;
    margin-top: 15px;
}

.sidebar-link img{
    height: 25px;
}

.sidebar-link img:hover{
    cursor: pointer;
}

.sidebar-link div{
    font-size: 10px;
    font-family: Roboto,Arial;
}
