    .pic-format{
        width: 200px;
        height: 200px;
        object-fit: contain;
        object-position: center;
        /* cover just manages the picture to fit it in 
        this may let the image to be cropped.
        Contain makes the full image fit inside the given dimension*/
    }

    .a:hover{
        color: orange;
    }

    .Product{
        font-size: 32px;
        color: black;
        font-weight: bolder;
    }

    .price{
        font-size: 14px;
        color: rgb(0,118,0);
    }

    .addtoCart{
        background-color: rgb(250, 218, 60);
        height: 32px;
        border: none;
        width: 100px;
        border-radius: 18px;
        margin-right: 10px;
        transition: background-color 0.15s;
    }

    .addtoCart:hover{
        background-color: rgb(255, 213, 0);
    }

    .addtoCart:active{
        opacity: 0.7;
    }

    .buyNow{
        background-color: rgb(254, 171, 46);
        height: 32px;
        width: 100px;
        border: none;
        border-radius: 18px;
        margin-right: 15px;
        transition: background-color 0.15s;
    }

    .buyNow:hover{
        background-color: rgb(250, 156, 14);
    }

    .buyNow:active{
        opacity: 0.7;
    }


